spoke_subscription_id = "b2bba6b4-c67d-43f2-9fbf-998560a9bdb0"
tenant_id             = "e6f8ac30-2fd5-4173-8392-31b071846feb"

# Look up with:  az ad signed-in-user show --query id -o tsv
human_object_id = "a0c2f96b-6dbf-4e13-871b-84813bf6598d"

# vm_admin_username    = "azureuser"
# vm_size              = "Standard_D2s_v3"   # DSv5 has 0 default quota in swedencentral; DSv3/BSv2 have 10
# bastion_subnet_prefix = "10.20.3.0/26"
# jumpbox_subnet_prefix = "10.20.4.0/28"
#
# ssh_public_key_path   = ""   # defaults to ./jumpbox_id_rsa.pub
# ssh_private_key_path  = ""   # defaults to ./jumpbox_id_rsa (chmod 0600)
